body{
	background-color: #F0F0F0;
}
#menu{
	background-color: #99FFFF;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	box-shadow: 0px 0px 30px #888888;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 50px;
	height: 100px;
}
#menu ul{
		margin-left: auto;
		margin-right: auto;
		width: 300px;
}
#menu ul li{
		display: inline;
}
a{
	text-decoration: none;
}
#login{
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	width: 150px;
}
#login ul li{
	display: inline;
}
#content{
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	box-shadow: 0px 0px 30px #888888;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: -25px;
	height: 1200px;
}