<!DOCTYPE html>
<html>
<head>
    <title>
        Claims
    </title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/template.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<body>
    <div id="login">
        <ul>
            <li><a href="{% url 'log_in' %}">Log In</a></li>
            <li> | </li>
            <li><a href="{% url 'register1' %}">Register</a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li> | </li>
            <li>News</li>
            <li> | </li>
            <li>Claims</li>
            <li> | </li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li> | </li>
            <li>Rates</li>
        </ul>
    </div>
    <div id="content">
        <h1>Here is the claim page</h1>
        <p>Here is where you can submit claims if logged in</p>
    </div>
</body>
</html>