<!DOCTYPE html>
<html>
<head>
    <title>
        Hello, Again!
    </title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/template.css' %}">
<body>
    <div id="login">
        <ul>
            <li><a href="{% url 'logged_in' %}">Log In</a></li>
            <li> | </li>
            <li><a href="{% url 'register1' %}">Register</a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li> | </li>
            <li><a href="{% url 'claims'%}">Claims</a></li>
            <li> | </li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li> | </li>
            <li><a href="{% url 'rates'%}">Rates</a></li>
        </ul>
    </div>
    <div id="content">
	    <h1>Contact Us!</h1>
	    <h3>Created By:</h3>
        <table>
            <tr>
                <td>Zachary Walters</td>
                <td><a href="mailto:zswalter@oakland.edu">zswalter@oakland.edu</a></td>
            </tr>
            <tr>
                <td>Nicholas Land</td>
                <td><a href="mailto:ndland@oakland.edu">ndland@oakland.edu</a></td>
            </tr>
            <tr>
                <td>Jacob Pleiness</td>
                <td><a href="mailto:jdpleine@oakand.edu"></a>jdpleine@oakand.edu</td>
            </tr>
        </table>
	</div>
</body>
</html>