<!DOCTYPE html>
<html>
<head>
    <title>
        Welcome to CSE233Care!
    </title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/template.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<body>
    <div id="login">
        <ul>
            <li><a href="{% url 'logged_in' %}">Log In<a></li>
            <li> | </li>
            <li><a href="{% url 'register' %}">Register<a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li>Home</li>
            <li> | </li>
            <li>News</li>
            <li> | </li>
            <li>Claims</li>
            <li> | </li>
            <li>Contact</li>
            <li> | </li>
            <li>Rates</li>
        </ul>
    </div>
    <div id="content">
        <h1>Here is the main page</h1>
        <p>Here is where we'll have some bootstrappy things</p>
    </div>
</body>
</html>