<!DOCTYPE html>
<html>
<head>
        <title>
                Register
        </title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/template.css' %}">
<body>
    <div id="login">
        <ul>
            <li><a href="{% url 'logged_in' %}">Log In</a></li>
            <li> | </li>
            <li><a href="{% url 'register1' %}">Register</a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li> | </li>
            <li>News</li>
            <li> | </li>
            <li>Claims</li>
            <li> | </li>
            <li>Contact</li>
            <li> | </li>
            <li>Rates</li>
        </ul>
    </div>
    <div id="content">
        <h1>Please fill out the following information</h1>
        <p>
            Here we will have a form that will include all of the information
            that we will need to store in the database.
        </p>

        <form>               
                <b><u>Past Medical Illnesses:</u></b><br>
                <input type="checkbox" value="none">None<br>
                <input type="checkbox" value="anemia">Anemia<br>
                <input type="checkbox" value="anxiety">Anxiety<br>
                <input type="checkbox" value="asthma">Asthma<br>
                <input type="checkbox" value="atrial_fibrillation">Atrial Fibrillation<br>
                <input type="checkbox" value="back_pain">Back Pain<br>
                <input type="checkbox" value="breast_cancer">Breast Cancer<br>
                <input type="checkbox" value="cancer">Cancer<br>
                <input type="checkbox" value="chronic_lung_disease">Chronic Lung Disease<br>
                <input type="checkbox" value="cirrhosis_of_liver">Cirrhosis of Liver<br>
                <input type="checkbox" value="colitis">Colitis<br>
                <input type="checkbox" value="colon_cancer">Colon Cancer<br>
                <input type="checkbox" value="colon_polyps">Colon Polyps<br>
                <input type="checkbox" value="congestive_heart_failure">Congestive Heart Failure<br>
                <input type="checkbox" value="chrons_disease">Chron's Disease<br>
                <input type="checkbox" value="depression">Depression<br>
                <input type="checkbox" value="diabetes">Diabetes<br>
                <input type="checkbox" value="diverticulitis">Diverticulitis<br>
                <input type="checkbox" value="diverticulosis">Diverticulosis<br>
                <input type="checkbox" value="duodenal_ulcer">Duodenal Ulcer<br>
                <input type="checkbox" value="emphysema">Emphysema<br>
                <input type="checkbox" value="fatty_liver">Fatty Liver<br>
                <input type="checkbox" value="frequent_urinary_infections">Frequent Urinary Infections<br>
                <input type="checkbox" value="gall_stones">Gall Stones<br>
                <input type="checkbox" value="glaucoma">Glaucoma<br>
                <input type="checkbox" value="gout">Gout<br>
                <input type="checkbox" value="heart_attack">Heart Attack<br>
                <input type="checkbox" value="heart_disease">Heart Disease<br>
                <input type="checkbox" value="hear_murmur">Heart MurMur (MVP)<br>
                <input type="checkbox" value="heart_valve_replacement">Heart Valve Replacement<br>
                <input type="checkbox" value="hepatitis_a">Hepatitis A<br>
                <input type="checkbox" value="hepatitis_b">Hepatitis B<br>
                <input type="checkbox" value="hepatitis_c">Hepatitis C<br>
                <input type="checkbox" value="hiatal_hernia">Hiatal Hernia<br>
                <input type="checkbox" value="high_blood_pressure">High Blood Pressure<br>
                <input type="checkbox" value="high_cholesterol">High Cholesterol<br>
                <input type="checkbox" value="history_suicide">History of Suicide Attempt<br>
                <input type="checkbox" value="hiv_aids">HIV/AIDS<br>
                <input type="checkbox" value="irregular_heart_beat">Irregular Heart Beat<br>
                <input type="checkbox" value="irritable_bowel_syndrom">Irritable Bowel Syndrom<br>
                <input type="checkbox" value="kidney_disease">Kidney Disease<br>
                <input type="checkbox" value="kidney_failure">Kidney Failure<br>
                <input type="checkbox" value="kidney_stones">Kidney Stones<br>
                <input type="checkbox" value="lactose_intolerance">Lactose Intolerance<br>
                <input type="checkbox" value="lupus">Lupus<br>
                <input type="checkbox" value="migraines">Migraines<br>
                <input type="checkbox" value="numbness_extremites">Numbness in Extremites<br>
                <input type="checkbox" value="osteoarthritis">Osteoarthritis<br>
                <input type="checkbox" value="osteoporosis">Osteoporosis<br>
                <input type="checkbox" value="pancreatitis">Pancreatitis<br>
                <input type="checkbox" value="paralysis">Paralysis<br>
                <input type="checkbox" value="parkinsons_disease">Parkinson's Disease<br>
                <input type="checkbox" value="phlebitis">Phlebitis<br>
                <input type="checkbox" value="pneumonia">Pneumonia<br>
                <input type="checkbox" value="prostate_problem">Prostate Problem<br>
                <input type="checkbox" value="radiation_therapy">Radiation Therapy<br>
                <input type="checkbox" value="raynauds_disease">Raynaud's Disease<br>
                <input type="checkbox" value="reflux">Reflux<br>
                <input type="checkbox" value="rheumatic_fever">Rheumatic Fever<br>
                <input type="checkbox" value="rheumatoid_arthritis">Rheumatoid Arthritis<br>
                <input type="checkbox" value="schizophrenia">Schizophrenia<br>
                <input type="checkbox" value="scleroderma">Scleroderma<br>
                <input type="checkbox" value="seizures">Seizures<br>
                <input type="checkbox" value="skin_cancer">Skin Cancer<br>
                <input type="checkbox" value="sleep_apnea">Sleep Apnea<br>
                <input type="checkbox" value="stomach_ulcer">Stomach Ulcer<br>
                <input type="checkbox" value="stroke">Stroke<br>
                <input type="checkbox" value="tb">TB (Tuberculosis)<br>
                <input type="checkbox" value="tb_skin">TB Skin Test Positive<br>
                <input type="checkbox" value="thyroid_disease">Thyroid Disease<br>
                <input type="checkbox" value="ulcerative_colitis">Ulcerative Colitis<br>
                <input type="checkbox" value="other">Other: <input type="text" name="other">
        </form>
    </div>
</body>
</html>