<!DOCTYPE html>
<html>
<head>
        <title>
                Register
        </title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/template.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<body>
    <div id="login">
        <ul>
            <li><a href="{% url 'log_in' %}">Log In</a></li>
            <li> | </li>
            <li><a href="{% url 'register1' %}">Register</a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li> | </li>
            <li>News</li>
            <li> | </li>
            <li>Claims</li>
            <li> | </li>
            <li>Contact</li>
            <li> | </li>
            <li>Rates</li>
        </ul>
    </div>
    <div id="content">
        <h1>Please fill out the following information</h1>
        <p>
            Here we will have a form that will include all of the information
            that we will need to store in the database.
        </p>

        <form>               
                <b><u>Past Medical Illnesses:</u></b><br>
                <table>
                        <tr>
                                <td><input type="checkbox" value="none">None</td>
                                <td><input type="checkbox" value="anemia">Anemia</td>
                                <td><input type="checkbox" value="anxiety">Anxiety</td>
                               <td><input type="checkbox" value="asthma">Asthma</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="atrial_fibrillation">Atrial Fibrillation</td>
                                <td><input type="checkbox" value="back_pain">Back Pain</td>
                                <td><input type="checkbox" value="breast_cancer">Breast Cancer</td>
                                <td><input type="checkbox" value="cancer">Cancer</td>
                        </tr>
                        <tr>        
                                <td><input type="checkbox" value="chronic_lung_disease">Chronic Lung Disease</td>
                                <td><input type="checkbox" value="cirrhosis_of_liver">Cirrhosis of Liver</td>
                                <td><input type="checkbox" value="colitis">Colitis</td>
                                <td><input type="checkbox" value="colon_cancer">Colon Cancer</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="colon_polyps">Colon Polyps</td>
                                <td><input type="checkbox" value="congestive_heart_failure">Congestive Heart Failure</td>
                                <td><input type="checkbox" value="chrons_disease">Chron's Disease</td>
                                <td><input type="checkbox" value="depression">Depression</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="diabetes">Diabetes</td>
                                <td><input type="checkbox" value="diverticulitis">Diverticulitis</td>
                                <td><input type="checkbox" value="diverticulosis">Diverticulosis</td>
                                <td><input type="checkbox" value="duodenal_ulcer">Duodenal Ulcer</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="emphysema">Emphysema</td>
                                <td><input type="checkbox" value="fatty_liver">Fatty Liver</td>
                                <td><input type="checkbox" value="frequent_urinary_infections">Frequent Urinary Infections</td>
                                <td><input type="checkbox" value="gall_stones">Gall Stones</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="glaucoma">Glaucoma</td>
                                <td><input type="checkbox" value="gout">Gout</td>
                                <td><input type="checkbox" value="heart_attack">Heart Attack</td>
                                <td><input type="checkbox" value="heart_disease">Heart Disease</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="hear_murmur">Heart MurMur (MVP)</td>
                                <td><input type="checkbox" value="heart_valve_replacement">Heart Valve Replacement</td>
                                <td><input type="checkbox" value="hepatitis_a">Hepatitis A</td>
                                <td><input type="checkbox" value="hepatitis_b">Hepatitis B</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="hepatitis_c">Hepatitis C</td>
                                <td><input type="checkbox" value="hiatal_hernia">Hiatal Hernia</td>
                                <td><input type="checkbox" value="high_blood_pressure">High Blood Pressure</td>
                                <td><input type="checkbox" value="high_cholesterol">High Cholesterol</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="history_suicide">History of Suicide Attempt</td>
                                <td><input type="checkbox" value="hiv_aids">HIV/AIDS</td>
                                <td><input type="checkbox" value="irregular_heart_beat">Irregular Heart Beat</td>
                                <td><input type="checkbox" value="irritable_bowel_syndrom">Irritable Bowel Syndrom</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="kidney_disease">Kidney Disease</td>
                                <td><input type="checkbox" value="kidney_failure">Kidney Failure</td>
                                <td><input type="checkbox" value="kidney_stones">Kidney Stones</td>
                                <td><input type="checkbox" value="lactose_intolerance">Lactose Intolerance</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="lupus">Lupus</td>
                                <td><input type="checkbox" value="migraines">Migraines</td>
                                <td><input type="checkbox" value="numbness_extremites">Numbness in Extremites</td>
                                <td><input type="checkbox" value="osteoarthritis">Osteoarthritis</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="osteoporosis">Osteoporosis</td>
                                <td><input type="checkbox" value="pancreatitis">Pancreatitis</td>
                                <td><input type="checkbox" value="paralysis">Paralysis</td>
                                <td><input type="checkbox" value="parkinsons_disease">Parkinson's Disease</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="phlebitis">Phlebitis</td>
                                <td><input type="checkbox" value="pneumonia">Pneumonia</td>
                                <td><input type="checkbox" value="prostate_problem">Prostate Problem</td>
                                <td><input type="checkbox" value="radiation_therapy">Radiation Therapy</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="raynauds_disease">Raynaud's Disease</td>
                                <td><input type="checkbox" value="reflux">Reflux</td>
                                <td><input type="checkbox" value="rheumatic_fever">Rheumatic Fever</td>
                                <td><input type="checkbox" value="rheumatoid_arthritis">Rheumatoid Arthritis</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="schizophrenia">Schizophrenia</td>
                                <td><input type="checkbox" value="scleroderma">Scleroderma</td>
                                <td><input type="checkbox" value="seizures">Seizures</td>
                                <td><input type="checkbox" value="skin_cancer">Skin Cancer</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="sleep_apnea">Sleep Apnea</td>
                                <td><input type="checkbox" value="stomach_ulcer">Stomach Ulcer</td>
                                <td><input type="checkbox" value="stroke">Stroke</td>
                                <td><input type="checkbox" value="tb">TB (Tuberculosis)</td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" value="tb_skin">TB Skin Test Positive</td>
                                <td><input type="checkbox" value="thyroid_disease">Thyroid Disease</td>
                                <td><input type="checkbox" value="ulcerative_colitis">Ulcerative Colitis</td>
                                <td><input type="checkbox" value="other">Other: <input type="text" name="other"></td>
                        </tr>
                </table>
        </form>
        <div id="next">
            <ul>
                <li class="previous"><a href="{% url 'register1' %}">Previous</a></li>
                <li class="next"><a href="{% url 'register3' %}">Next</a></li>
        </div>
    </div>
</body>
</html>