<!DOCTYPE html>
<html>
<head>
	<title>
		Register
	</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/template.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<body>
    <div id="login">
        <ul>
            <li><a href="{% url 'log_in' %}">Log In</a></li>
            <li> | </li>
            <li><a href="{% url 'register1' %}">Register</a></li>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li> | </li>
            <li>News</li>
            <li> | </li>
            <li>Claims</li>
            <li> | </li>
            <li>Contact</li>
            <li> | </li>
            <li>Rates</li>
        </ul>
    </div>
    <div id="content">
        <h1>Please fill out the following information</h1>
        <p>
            Here we will have a form that will include all of the information
            that we will need to store in the database.
        </p>

        <form>
            Desired username: <input type="text" name="username"><br>
            Desired password: <input type="password" name="password"><br>
            Confirm password: <input type="password" name="pwasword"><br>
            <table>
                <tr>
                    <td>First name: <input type="text" name="firstname"></td>
                    <td>Last name: <input type="text" name="lastname"></td>
                    <td>Email: <input type="text" name="email"></td>
                </tr>
            </table>
            Social Security Number: <input type="tel" name="ssn-first">
            <input type="tel" name="ssn-middle">
            <input type="tel" name="ssn-last"><br>
            <table>
                <tr>
                    <td>Age: <input type="number" name="age"></td>
                    <td>State: <input type="text" name="state"></td>
                    <td>Gender: 
                    <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    </select></td>
                   <td> Marital Status: 
                    <select name="marital">
                    <option value="married">Married</option>
                    <option value="single">Single</option>
                    <option value="divorced">Divorced</option>
                    <option value="widowed">Widowed</option>
                    </select></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Body Mass Index: <input type="tel" name="bmi"></td>
                    <td>Smoker: 
                    <select name="smoker">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                    <option value="quit">I did, but I quit</option>
                    </select></td>
                    <td>Were you previously insured? 
                    <select name="prev_insured">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select></td>
                </tr>
            </table>
            <br>
            <br>
            <b>Please select all that apply to you:</b><br>
            <br>
            <b><u>Allergies:</u></b><br>
            <table>
                <tr>
                    <td><input type="checkbox" value="none">None</td>
                    <td><input type="checkbox" value="aspirin">Aspirin</td>
                    <td><input type="checkbox" value="codeine">Codeine</td>
                    <td><input type="checkbox" value="dermerol">Dermerol</td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="eggs">Eggs</td>
                    <td><input type="checkbox" value="environmental">Environmental</td>
                    <td><input type="checkbox" value="iodine">Iodine</td>
                    <td><input type="checkbox" value="latex">Latex</td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="morphine">Morphine</td>
                    <td><input type="checkbox" value="penicillin">Penicillin</td>
                    <td><input type="checkbox" value="sulfa">Sulfa</td>
                    <td><input type="checkbox" value="other">Other: <input type="text" name="other"></td>
                </tr>
            </table>
        </form>
        <div id="next">
            <ul>
                <li class="next"><a href="{% url 'register2' %}">Next</a></li>
        </div>
    </div>
</body>
</html>
